<%= simple_nested_form_for @quiz, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :year, options_for_select(2006..Time.now.year, Time.now.year) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category, options_for_select(["Electric","Combustion"]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :questions, :class => 'control-label' %>
    <div class="controls">
      <%= f.fields_for :questions do |q| %>
        <%= q.text_area :content, :style => "width: 70%; margin-bottom: 15px;" %>
        <%= q.link_to_remove "Remove Question", :class => "btn pull-right", :style => "margin-right: 20px;" %>
        <%= q.fields_for :answers do |a| %>
          <%= a.text_field :content, :style => "width: 60%; margin-left: 25px; margin-bottom: 15px;" %>
          <%= a.check_box :correct, :style => "vertical-align: top; position: relative; top: 5px;" %>
          <%= a.label :correct_answer, "Correct", :style => "display: inline; vertical-align: top; position: relative; top: 4px;" %>
          <%= a.link_to_remove "Remove Answer", :class => "btn pull-right", :style => "margin-right: 20px;" %>
        <% end %>
        <%= q.link_to_add "Add answer", :answers, :class => "btn", :style => "margin-left: 25px; margin-bottom: 15px;" %>
      <% end %>
      <%= f.link_to_add "Add Question", :questions, :class => "btn" %>
    </div>
  </div>
  <%= f.input :production_ready, :as => :boolean %>
  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
