<%= nested_form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, options_for_select(2006..Time.now.year, Time.now.year) %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(["Electric","Combustion"]) %>
  </div>
  <div class="field">
    <%= f.fields_for :questions do |a| %>
      <%= a.text_field :content %>
      <%= a.link_to_remove "Remove Question" %>
    <% end %>
    <%= f.link_to_add "Add Question", :questions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
