<%- model_class = Quiz -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @quiz.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @quiz.category %></dd>
  <br />
  <% count = 1 %>
  <% Question.where(quiz_id: @quiz.id).each do |q| %>
  <dt><strong>Question <%= count %>:</strong></dt>
    <dd><%= q.content %></dd>
    <dt><i>Answers:</i></dt>
    <% Answer.where(question_id: q.id).each do |a| %>
      <dd><%= a.content %><%= " -- Correct" if a.correct %></dd>
    <% end %>
    <br />
    <% count += 1 %>
  <% end%>
  <br />
  <dt>Created at:</dt>
  <dd><%= @quiz.created_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              quizzes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_quiz_path(@quiz), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              quiz_path(@quiz),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
