<div class="hero-unit" style="padding-top: 35px;">
  <% min, sec = @quiztory.duration %>
  <h2 class="text-center">Completed the quiz in <%= min %> minutes and <%= sec %> seconds
  </h2>
  <p>
    <strong>Quiz solved: </strong>
    <%= link_to @quiztory.quiz.quiz_attributes, quiz_path(@quiztory.quiz) %>
  </p>
  <p>
    <strong>Started:</strong>
    <%= @quiztory.created_at %>
  </p>
  <p>
    <strong>Failed submits:</strong>
    <% @quiztory.failed_submits.each do |time,user_id| %>
      <br /><%=  time.to_s + ": " + User.find(user_id).email %>
    <% end %>
  </p>
  <p>
    <strong>Finished:</strong>
    <%= @quiztory.updated_at %>
  </p>
</div>
