<h1>Listing quiztories</h1>

<table style="width: 100%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Finished</th>
      <th>Failed submits</th>
      <th>Users</th>
      <th>Quiz</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quiztories.each do |quiztory| %>
      <tr style="text-align: center;">
        <td><%= quiztory.id %></td>
        <td><%= quiztory.finished.to_s %></td>
        <td><%= quiztory.failed_submits.count %></td>
        <td>
          <% quiztory.users.each do |u| %>
            <%= " " + u.email.split(/@/).first + " " %>
          <% end %>
        </td>
        <td><%= quiztory.quiz_id %></td>
        <td>
          <%= link_to 'Show', quiztory, :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', quiztory, method: :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
